[submodule "DesarrolloSistema/DesarrolloSistema/trabajo-final-IAferaboli"]
	path = DesarrolloSistema/DesarrolloSistema/trabajo-final-IAferaboli
	url = https://github.com/desarrollo-sistemas-web/trabajo-final-IAferaboli
